<% let newJobsites, userInput; %>
<% const placesURL = `https://maps.googleapis.com/maps/api/place/textsearch/json?query=${userInput}&key=${placesKey}` %>
<% $('#site-search-click').on('click', (event)=> { %>
    <% event.preventDefault() %>
    <% const regex = / /gi %>
    <% userInput = $('#site-search-data').val().replace(regex, '+') %>
    <% console.log(userInput) %>
    <% $.ajax({ %>
      <% url: `http://cors-anywhere.herokuapp.com/${placesURL}`, %>
      <% type: "GET", %>
    <% }).then(function(data){ %>
      <% newJobsites = data.results %>
      <% console.log(newJobsites) %>
    <% }) %>
  <% }) %>


<% showSearchResults(); %>
<% console.log(newJobsites); %>
<% }); %>
<% }); %>
<% function showSearchResults(){ %>
<% for(let i = 0; i < newJobsites.length; i++){ %>
<%$('#search-results').append(`<td>${newJobsites[i].name}</td>`); %>
<% } %>
<% } %>



<% let newJobsites, userInput; %>
<% const placesURL = `https://maps.googleapis.com/maps/api/place/textsearch/json?query=${userInput}&key=${placesKey}` %>
<% console.log(placesURL); %>
<% var xhr = new XMLHttpRequest(); %>
<% xhr.open('GET', placesURL); %>
<% xhr.onload = function() { %>
    <% if (xhr.status === 200) { %>
        <% console.log(xhr.responseText); %>
  <% } %>
    <% else { %>
        <% console.log(xhr.status); %>
    <% } %>
<% }; %>
<% xhr.send(); %>

