.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.container-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container-2 > form{
    margin-left: 2em;
}

.select-wrapper{
    padding-right: 2em;
}

.container-3{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.edit-form{
    margin-left: 1em;
    margin-right: 1em;
}

.delete-form{
    margin-left: 1em;
}

#verified-green {
    color: green;
}

li.active > div{
    background-color: cornsilk;
    color: #1976d2;
}

strong{
    font-weight: bold;
}

.card-panel{
    background-color: cornsilk;
    width: 300px;
}

h2 {
    text-align: center;
}

