.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#verified-green {
    color: green;
}

li.active > div{
    background-color: cornsilk;
    color: #1976d2;
}

strong{
    font-weight: bold;
}

.card-panel{
    background-color: cornsilk;
    width: 300px;
}

