<%- include('../partials/header') %>

<form action="../sessions" method="POST" id="location">
      <div class="input-field col s12">
        <select name="jobsite">
          <option value="" disabled selected>Choose your option</option>
          <% jobsites.forEach(function(m) { %>
          <option name="jobsite" value="<%=m._id%>">
          <%=m.siteName%></option>
          <% }); %>
        </select>
        <label>Select Your Job Site</label>
      </div>
      
        <input id="session-submit" type="submit" value="Clock In">
    </form>

  <%- include('../partials/footer') %>

