<%- include('../partials/header') %>

<form>
    <label>Search for a New Jobsite</label>
    <input type="text" id="site-search-data">  
    <input id="site-search-click" type="submit" value="Search">
</form>
<ul id="search-results" class="collapsible">
  
</ul>
<%- include('../partials/footer') %>
