<%- include('../partials/header') %>

<form>
    <label>Search for a New Jobsite</label>
    <input type="text" id="site-search-data">
    <button type="submit" value="Search" id="site-search-click" class="waves-effect waves-light btn"><i class="material-icons center">search</i></button> 
    <!-- <button  type="submit" value="Search">Search</button> -->
</form>
<ul id="search-results" class="collapsible">
  
</ul>
<%- include('../partials/footer') %>
