<%- include('../partials/header') %>

<form>
    <label>Search for a New Jobsite</label>
    <input type="text" id="site-search-data">  
    <input id="site-search-click" type="submit" value="Search">
</form>
<% placesKey; %>
<table>
  <thead>
    <tr>
      <td>Place</td>
    </tr>
  </thead>
  <tbody>
    <tr id="search-results">

    </tr>
  </tbody>

<%- include('../partials/footer') %>
