<%- include('../partials/header') %>

<form>
    <h6>Search for a New Jobsite</h6>
    <div class="container-3">
    <input type="text" id="site-search-data">
        <button type="submit" value="Search" id="site-search-click" class="waves-effect waves-light btn blue"><i class="material-icons center">search</i></button>
    </div> 
</form>
<ul id="search-results" class="collapsible">
  
</ul>
<%- include('../partials/footer') %>
