<%- include('../partials/header') %>

<form>
    <label>Search for a New Jobsite</label>
    <input type="text" id="site-search-data">  
    <input id="site-search-click" type="submit" value="Search">
</form>
<table>
  <thead>
    <tr>
      
    </tr>
  </thead>

<%- include('../partials/footer') %>
